.section_spacing {
  margin-top: 50px;
  margin-bottom: 50px;
}

.last_section {
  margin-bottom:100px;
}


/* Game over screen */
.game-over-pedestial-bar {
  width: 100%;
  max-width: 250px;
}
.f-place-bar {
  height: 200px;
}
.s-place-bar {
  height: 150px;
}
.t-place-bar {
  height: 100px;
}

.game-over-pedestial-username {
  top:-25px;
}

